.card{
    padding:0px 10px 30px 10px;
}

.title{
    text-align: center;
}

.card-title{
    font-size:xx-large !important;
}

.editField{
    margin:15px;
}

.editField > span{
    font-size:1.4em;
}

.editIcon{
    font-size:.6em;
}

span:hover{
    cursor:pointer;
}

span > i {
    visibility:hidden;
}

span:hover > i {
    visibility: visible;
}